[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
requests="*"
psycopg2 = "*"
python-dotenv = "*"
ipython = "*"
bleak = "*"
asyncio = "*"
pytz = "*"

[pipenv]
allow_prereleases = true

[scripts]
